./BLAST/old/*
./BLAST/*/*.tab
./Gene_Maps/ATCC_and_CFT073_map/genomes/*
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/Block*
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/Ecoli*
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/*_coding_start_end.txt
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/block_parts/*
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/Duplicated_rev_comp/*
./Gene_Maps/ATCC_and_CFT073_map/PARSNP*/parsnp*
./Gene_Maps/DH10B_and_W3110_map/genomes/*
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/Block*
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/Ecoli*
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/*_coding_start_end.txt
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/block_parts/*
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/Duplicated_rev_comp/*
./Gene_Maps/DH10B_and_W3110_map/PARSNP*/parsnp*
./Gene_Maps/BW_and_K12MG_PARSNP/Genomes/*
./Gene_Maps/BW_and_K12MG_PARSNP/ref/*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/BadBlocks/*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/Block*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/Ecoli*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/*_coding_start_end.txt
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/block_parts/*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/Duplicated_rev_comp/*
./Gene_Maps/BW_and_K12MG_PARSNP/P*/GoodBlocks/parsnp*
./Genomes/E*
./Proteomes/E*
./Proteomes/old*/
./PARSNP_16May19/Genomes/*
./PARSNP_16May19/Genomes_with_outgroup/*
./PARSNP_16May19/ref/*
./PARSNP_16May19/P_2019_05_16_ref_genomes/Ecoli*
./PARSNP_16May19/P_2019_05_16_ref_genomes/p*
./PARSNP_16May19/P_2019_05_16_ref_genomes/BadBlocks/*
./PARSNP_16May19/P_2019_05_16_ref_genomes/Duplicated_rev_comp/*
./PARSNP_16May19/P_2019_05_16_ref_genomes/InversionBlocks/Block*
./PARSNP_16May19/P_2019_05_16_ref_genomes/NonInversionBlocks/Block*
.Rproj.user
.Rhistory
.RData
.Ruserdata
